{% extends 'layout.html' %}
{% block content %}

	<div id="plots">
		<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
	</div>
	</div>
	<script>
		var you = {
			x: {{ scores['time'] | safe }} ,
			y: {{ scores['you'] | safe }} ,
			type: 'scatter',
			name: 'You',
			line: {
				color: 'rgb(50, 185, 50)',
				width: 4
			}
		};
		var opponent = {
			x: {{ scores['time'] | safe }} ,
			y: {{ scores['opponent'] | safe }} ,
			type: 'scatter',
			name: 'Opponent',
			line: {
				color: 'rgb(175, 50, 50)',
				width: 4
			}
		};
		var data = [you, opponent];
		var options = {
			paper_bgcolor: 'rgba(0, 0, 0, 0)',
			plot_bgcolor: 'rgba(0, 0, 0, 0)',
			title: 'Scores',
			width: 1000,
			xaxis: {
				showgrid: false
			},
			font: {
				size: 12,
				color: '#ffffff'
			}
		}
	  	Plotly.newPlot('myDiv', data, options);
	</script>

{% endblock %}
