{% extends 'layout.html' %}
{% block content %}

	<div id="matc_table">
		<div class="matc_table_row">
			<div class="entry" style="width:50px;">id</div>
			<div class="entry" style="width:150px;">p1</div>
			<div class="entry" style="width:40px;">Score</div>
			<div class="entry" style="width:40px;">Score</div>
			<div class="entry" style="width:150px;">p2</div>
			<div class="entry" style="width:150px;">club</div>
			<div class="entry" style="width:90px;">bestof</div>
			<div class="entry" style="width:250px;">date</div>
		</div>
	<div style="clear: both;"></div>
	{% for match in matches %}
		<div class="matc_table_row">
			<div class="entry" style="width:50px;">{{ match['id'] }}</div>
			<div class="entry" style="width:150px;">{{ match['player1'] }}</div>
			<div class="entry" style="width:40px;">{{ match['p1_score'] }}</div>
			<div class="entry" style="width:40px;">{{ match['p2_score'] }}</div>
			<div class="entry" style="width:150px;">{{ match['player2'] }}</div>
			<div class="entry" style="width:150px;">{{ match['clubname'] }}</div>
			<div class="entry" style="width:90px;">{{ match['bestof'] }}</div>
			<div class="entry" style="width:250px;">{{ match['date'] }}</div>
			<div class="show_match">
				<form method="post">
					<input type="hidden" name="show_match" value="{{ match['id'] }}"></input>
					<input type="submit" id="show_match_button" value="Show Match"></input>
				</form>
			</div>
		</div>
		<div style="clear: both;"></div>
	{% endfor %}
	</div>
	<div id="gownienko">
		<br/>Matches won: {{ won['matches'] }}
		<br/>Matches lost: {{ lost['matches'] }}
		<br/>Frames won: {{ won['frames'] }}
		<br/>Frames lost: {{ lost['frames'] }}
	</div>

{% endblock %}
